
.contacto{
    width: 100%;
    height: auto;
    margin-top: 30px;
    .contactoitem{
        @include inside-card(80%, auto, 20px, 6px, hidden, map-get($map: $colores, $key: color-fondo), map-get($map: $colores, $key: color-textos), 0px 1px 10px map-get($map: $colores, $key: color-shadows-cards), default, 10px);
        cursor: default;
        transition: all 400ms ease;
        figure{
            iframe{
                width: 100%;
                height: 300px;
            }
        }
        .contactoitem1{
            @include details-cards(5px, center, 20px);
            h2{
                @include subtitle($titulos, 0px 0px 15px map-get($map: $colores, $key: color-shadows));
                font-weight: 400;
                font-size: 20px;
                margin-top: 0px;
            }
            form{
                font-size: 20px;
                label{
                    background-color: map-get($map: $colores, $key: color-fondo);
                }
                input{
                    background-color: $bgwhite;
                };
            }
        }
    }
}