.contenido{    
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-gap: 30px;
        padding: 20px;
        border: 5px solid black;
        .item1{    
            color: map-get($map: $colores, $key: color-textos);
            border-radius: 25px;
            // margin-top: px;
            p{
                @extend .parrafos;
                padding: 20px;
                text-transform: uppercase;
            }
            a{
                @extend .botones;
                padding: 10px;
                width: 100px;
                     &:hover{
                        @extend .hover-botones;
                }
            }

        }
        .item2{
            background-image: url(../images/imgindex2.webp);
            @include posicion-img(cover, center, no-repeat);
        }
        .item3{
            background-image: url(../images/car.webp);
            @include posicion-img(cover, center, no-repeat);
        }
        .item4{
            background-image: url(../images/imgindex3.webp);
            @include posicion-img(cover, center, no-repeat);
        }
    }

