.container{
    width: 80%;
    margin: auto;
    padding: 1  0px;
    background-color: map-get($map: $colores, $key: color-fondo);
    margin-top: 15px;
    margin-bottom: 15px;

video{
    width: 100%;
    object-fit: cover;
}
h2{
    @include subtitle($titulos, 0px 0px 15px map-get($map: $colores, $key: color-shadows));
    text-align: center;
}
p{
    @extend .parrafos;
}
a{
    @extend .botones;
    width: 75px;

         &:hover{
            @extend .hover-botones;
    }
}
}
