

footer{
    color: $textos;
    background-color: $fondo;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    p{
        font-size: 10px;
        margin-bottom: 20px;
    }
    div{
        a{
            text-decoration: none;
            i{    color: $iconos;
                font-size: 25px;
                letter-spacing: 15px;
                margin-bottom: 10px;
                &:hover{
                    color: $textos;
                }
            }
        }
    }
    i{
        margin-top: 10px;
        color: $iconos;
        font-size: 25px;
    }
}
