header{
    background-color: $fondo;
    height: 150px;
    padding: 20px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    text-transform: uppercase;
    div{
        a{
            img{
                height: 320px;
                width: auto;
            }
        }
    }
    .container-fluid {
            a{
        color: white;
        text-shadow: 0px 0px 15px crimson;
        padding: 0px;
        font-size: 14px;
                &:hover{
                    color: rgb(0, 0, 0);
            text-shadow: 0px 0px 15px black;
                }
            }
        }
    }