$colores:(
    color-fondo: rgb(255, 168, 5),
    color-textos: #fff,
    color-shadows: #000,
    color-shadows-cards: rgba(211, 152, 42, 5),
    color-botones: rgb(11, 11, 102),
    color-icons: rgb(21, 21, 150),
)