$fondo: rgb(255, 168, 5);
$body: #000;
$shadow: #000;
$shadow-card: rgba(211, 152, 42, 5);
$border: orange;
$titulos: rgb(21, 21, 150);
$botones: rgb(11, 11, 102);
$textos: #fff;
$bgwhite: #fff;
$iconos: rgb(21, 21, 150);